div.backface-y {
    height: 100%;
    /*        height: 200px;*/
    position: relative;
    transition: transform 1000ms ease 50ms;
    /* transform-style: preserver-3d is vital */
    transform-style: preserve-3d;


}
div.backface-y > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* backface-visibility: hidden is vital */
    backface-visibility: hidden;


}
div.backface-y .backface-y-back {
    z-index: 2;
}

.backface-y .backface-y-front {
    background-color: #fef;
}
.backface-y .backface-y-back {
    background-color: #fe0;
}

div.backface-y .backface-y-back {
    transform: rotateX(180deg);
    /*        display: none;*/
}

input[name|="toggle-switch"]:checked~ div.backface-y  {
    transform: rotateX(180deg);
}

